// Layout styles here like grid implemention via Neat classes etc


// Change the grid settings
$column: 110px;
$gutter: 50px;
$grid-columns: 12;
$max-width: em(1144); /* Change this according to the PSD supplied by the Designers */


// Disable Border-box sizing coming from Neat
$border-box-sizing: false !default;

// Remember to set $visual-grid to false and $visual-grid-index to back in production
$visual-grid: false !default ;
$visual-grid-color: #DEDEDE !default;
$visual-grid-index: front !default;
$visual-grid-opacity: 0.2!default; 

$fg-column: $column;
$fg-gutter: $gutter;

// For use with Neat Grid

//$tablet		: new-breakpoint(min-width 48em 4);
//$normal		: new-breakpoint(min-width 60em 12);