
//Mixins

// Rem-to-px fallback mixin
$base-font-size: 16px;

@mixin remsize($prop, $px, $base: $base-font-size) {
	#{$prop} : $px;
	//#{$prop} : ($px / $base) * 1em;
	#{$prop} : ($px / $base) * 1rem;

	/*
	 Usage :
	 	@include remsize(font-size, 20px);
	
	*/
}

// Vertical Align within a box
@mixin vertical-align($t,$y) {
  position: relative;
  top: $t;
  -webkit-transform: translateY($y);
  -ms-transform: translateY($y);
  transform: translateY($y);
}


@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin equal-height{
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}